{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-classes"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
